/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 *= require rails_bootstrap_forms
 */


 h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Arimo', sans-serif;
 }

body {
  font-family: 'Arimo', sans-serif;
}

p {
  font-family: 'Arimo', sans-serif;
}

a {
  color: green;
}

.centered-content {
   text-align: center;
 }

.centered-div {
  width: 100%;
  margin: 0 auto;
}

.logo {
  background-image: url("honeyDew.jpg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  /*margin: 0 auto;*/
}

.logo-font {
  font-family: 'Leckerli One', cursive;
}
 /*.skyline {
   background-image: url("skyline.jpeg");
   background-repeat: no-repeat;
   width: auto;
   height: 100%;
   margin: 0 auto;
 }*/

 .round {
   opacity: 0.8;
   width: 50%;
   margin: 0 auto;
   border-radius: 10px;
   background-color: #d9f9ad;
 }
