// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  height: 25px;
}

.prof_pic {
  height: 50px;
  margin: 0 10px;
}

.logged_in {
  float: right;
}
