// Place all the styles related to the tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tool_pic {
  height: 50px;
}

.col-md-3 h2 {
  text-align: left;
}

.account_tool {
  display: inline-block;
  margin: 10px;
}

.account_tools_container {
  margin: auto;
  width: 40%;
}

.tool_row {
  border-bottom: black solid 1px;
  padding: 10px;
  margin: 5px;
}
